body{
    background-color: rgb(18, 18, 18);
    margin: 0px;
    height: 2000px;
}

header{
    width: 1500px;
    height: 40px;
    background-color: rgb(18, 18, 18);
    left: 50%;
    transform: translate(-50%);
    padding-top: 27px;
    padding-bottom: 27px;
    font-family:Arial, Helvetica, sans-serif;
    position: fixed;
    z-index: 999999999;
}

.as{
    font-size: 20px;
    text-decoration: none;
    margin-left: 25px;
    color: rgb(121, 121, 121);
}

.as:hover{
    color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(127,42,218);
}

#a1{
    margin-left: 830px;
}

h2{
    margin-left: 199px;
    position: absolute;
    margin-top: 2px;
    color: white;
}

#main1{
    margin-top: 120px;
    width: 1100px;
    height: 580px;
    background-color: rgb(23, 23, 23);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: solid 1px rgba(94, 94, 94, 0.5);
    border-radius: 4px;
}
 
#img{
    background-color: rgb(127, 42, 218);
    width: 510px;
    height: 505px;
    margin-top: 35px;
    margin-left: 35px;
    border-radius: 4px;
    border: 1px solid rgba(94, 94, 94, 1);
}

#quemsou{    
    position: absolute;
    margin-top: -450px;
    margin-left: 570px;
    font-size: 18px;
    color: rgb(127,42,218);
    font-family: sans-serif;
    letter-spacing: 1px;
}

#nome{
    position: absolute;
    margin-top: -420px;
    margin-left: 570PX;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: serif;
    letter-spacing: 2px;
}

#profissao{
    position: absolute;
    margin-top: -380px;
    margin-left: 570px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: serif;
    letter-spacing: 1px;
}

#texto{
    position: absolute;
    margin-top: -330px;
    margin-left: 570px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding-right: 25px;
    font-family: sans-serif;
    letter-spacing: 1px;
} 

#main2{
    width: 1100px;
    height: 500px;
    margin-top: 790px;
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%);
}

#conhecimento{
    position: absolute;
    margin-top: 10px;
    font-size: 45px;
    font-family: serif;
    letter-spacing: 2px;   
    margin-left: 20px; 
}

.pconhecimento{
    letter-spacing: 1px;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    width: 500px;
    position: absolute;
    margin-top: 80px;
    margin-left: 10px;
    font-size: 16px;
}

#projetos{
    color: rgb(255, 255, 255);
    position: absolute;
    margin-top: 50px;
    font-size: 40px;
    font-family: serif;
    margin-left: 50%;
    transform: translate(-50%);
}

.projetos{
    background-color: rgb(23, 23, 23);
    width: 315px;
    height: 195px;
    position: absolute;
    margin-top: 150px;
    border: 1px solid rgba(94, 94, 94, 0.5);
    border-radius: 4px;
}

.projetos:hover{
    border: 3px solid rgb(127, 42, 218);
    height: 192px;
    width: 312px; 
}

#projeto1{
    margin-left: 60px;
}
#projeto2{
    margin-left: 390px;
}
#projeto3{
    margin-left: 720px;
}
#projeto4{
    margin-left: 60px;
    margin-top: 360px;
}
#projeto5{
    margin-left: 390px;
    margin-top: 360px;
}
#projeto6{ 
    margin-left: 720px;
    margin-top: 360px;
}

::-webkit-scrollbar{
    background-color: rgb(18, 18, 18);
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(127,42,218);
    border-radius: 4px;
}

img{
    position: absolute; 
    z-index: 10000;
    width: 60px;
    margin-top: -140px;
    border-radius: 4px;
    border: 1px solid rgba(94, 94, 94, 0.5);
}

#react2:hover{
    border: 1px solid rgb(127,42,218);
}
#html2:hover{
    border: 1px solid rgb(127,42,218);
}
#css2:hover{
    border: 1px solid rgb(127,42,218);
}
#js2:hover{
    border: 1px solid rgb(127,42,218);
}
#tail2:hover{
    border: 1px solid rgb(127,42,218);
}
#boots2:hover{
    border: 1px solid rgb(127,42,218);
}
#github2:hover{
    border: 1px solid rgb(127,42,218);
}
#git2:hover{
    border: 1px solid rgb(127,42,218);
}

#insta1{
    margin-left: 610px;
}

#insta1:hover{
    border: 1px solid rgb(127,42,218);
}

#github1{
    margin-left: 690px;
}

#github1:hover{
    border: 1px solid rgb(127,42,218);
}

#linkedin1{
    margin-left: 770px;
}

#linkedin1:hover{
    border: 1px solid rgb(127,42,218);
}

#email1{
    margin-left: 850px;
}

#email1:hover{
    border: 1px solid rgb(127,42,218);
}

#ttk1{
    margin-left: 930px;
}

#ttk1:hover{
    border: 1px solid rgb(127,42,218);
}

#react2{
    width: 90px;
    margin-top: 140px;
    margin-left: 900px;
}

#boots2{
    width: 90px;
    margin-top: 140px;
    margin-left: 800px;
}

#tail2{
    width: 90px;
    margin-top: 140px;
    margin-left: 700px;
}

#git2{
    width: 90px;
    margin-top: 40px;
    margin-left: 1000px;
}

#github2{
    width: 90px;
    margin-top: 40px;
    margin-left: 900px;
}

#js2{
    width: 90px;
    margin-top: 40px;
    margin-left: 800px;
}

#css2{
    width: 90px;
    margin-top: 40px;
    margin-left: 700px;
}

#html2{
    width: 90px;
    margin-top: 40px;
    margin-left: 600px;
}

.construcao{
    margin-left: 50px;  
    margin-top: 40px;
    width: 210px;
    font-family:sans-serif;
}
.pconstrucao{
    color: rgb(182, 182, 182);
    font-family: sans-serif;
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 10px;
    font-size: 18px;
}

#textohtml{
    display: none; 
    color: rgb(179, 179, 179);
}

#textocss{
    display: none;
    color: rgb(179, 179, 179);
}
#textojs{
    display: none;
    color: rgb(179, 179, 179);
}
#textotail{
    display: none;
    color: rgb(179, 179, 179);
}
#textoboots{
    display: none;
    color: rgb(179, 179, 179);
}
#textogit{
    display: none;
    color: rgb(179, 179, 179);
}
#textogithub{
    display: none;
    color: rgb(179, 179, 179);
}
#textoreact{
    display: none;
    color: rgb(179, 179, 179);
}

#tudo{
    color: rgb(179, 179, 179);
}

.conheci:hover{
    border: 1px solid rgb(127, 42, 218);
}

#main3 {
    width: 1100px;
    height: 700px;
    position: absolute;
    margin-top: 1200px;
    margin-left: 50%;
    transform: translate(-50%);
}

@media screen and (max-width: 600px) {

    body{
        background-color: rgb(18, 18, 18);
        margin: 0px;
        height: 2600px;
    }
    
    header{
       display: none;
    }
    
    .as{
        display: none;
    }
    
    #main1{
        margin-top: 20px;
        width: 400px;
        height: 700px;
        background-color: rgb(23, 23, 23);
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        border: solid 1px rgba(94, 94, 94, 0.5);
        border-radius: 4px;
    }
     
    #img{
        background-color: rgb(127, 42, 218);
        width: 350px;
        height: 325px;
        margin-top: 25px;
        margin-left: 25px;
        border-radius: 4px;
        border: 1px solid rgba(94, 94, 94, 1);
    }
    
    #quemsou{    
        position: absolute;
        margin-top: 20px;
        margin-left: 25px;
        font-size: 16px;
        color: rgb(127,42,218);
        font-family: sans-serif;
        letter-spacing: 1px;
    }
    
    #nome{
        position: absolute;
        margin-top: 45px;
        margin-left: 25px;
        font-size: 20px;
        color: rgb(255, 255, 255);
        font-family: serif;
        letter-spacing: 1px;
    }
    
    #profissao{
        position: absolute;
        margin-top: 70px;
        margin-left: 25px;
        font-size: 15px;
        color: rgb(255, 255, 255);
        font-family: serif;
        letter-spacing: 1px;
    }
    
    #texto{
        position: absolute;
        margin-top: 100px;
        margin-left: 25px;
        font-size: 16px;
        color: rgb(255, 255, 255);
        padding-right: 25px;
        font-family: sans-serif;
        letter-spacing: 1px;
    } 
    
    #main2{
        width: 400px;
        height: 500px;
        margin-top: 790px;
        position: absolute;
        margin-left: 50%;
        transform: translate(-50%); 
    }
    
    #conhecimento{
        position: absolute;
        margin-top: 20px;
        font-size: 30px;
        font-family: serif;
        letter-spacing: 2px;   
        margin-left: 50%;
        transform: translate(-50%); 
    }
    
    .pconhecimento{
        letter-spacing: 1px;
        font-family: sans-serif;
        color: rgb(255, 255, 255);
        width: 400px;
        position: absolute;
        margin-top: 80px;
        margin-left: 20px;
        font-size: 16px;
    }
    
    #projetos{
        color: white;
        position: absolute;
        margin-top: 20px;
        font-size: 40px;
        font-family: serif;
        margin-left: 50%;
        transform: translate(-50%);
    }
    
    .projetos{
        background-color: rgb(23, 23, 23);
        width: 315px;
        height: 195px;
        position: absolute;
        margin-top: 150px;
        border: 1px solid rgba(94, 94, 94, 0.5);
        border-radius: 4px;
    }
    
    .projetos:hover{
        border: 3px solid rgb(127, 42, 218);
        height: 192px;
        width: 312px; 
    }
    
    #projeto1{
        margin-left: 50%;
        transform: translate(-50%);
        margin-top: 110px;
    }
    #projeto2{
        margin-left: 50%;
        transform: translate(-50%);
        margin-top: 320px;
    }
    #projeto3{
        margin-left: 50%;
        transform: translate(-50%);
        margin-top: 530px;
    }
    #projeto4{
        margin-left: 50%;
        transform: translate(-50%);
        margin-top: 740px;
    }
    #projeto5{
        margin-left: 50%;
        transform: translate(-50%);
        margin-top: 950px;
    }
    #projeto6{ 
        margin-left: 50%;
        transform: translate(-50%);
        margin-top: 1160px;
    }
    
    ::-webkit-scrollbar{
        background-color: rgb(18, 18, 18);
        width: 10px;
    }
    
    ::-webkit-scrollbar-thumb{
        background-color: rgb(127,42,218);
        border-radius: 4px;
    }
    
    img{
        position: absolute; 
        z-index: 10000;
        width: 60px;
        margin-top: -140px;
        border-radius: 4px;
        border: 1px solid rgba(94, 94, 94, 0.5);
    }
    
    #react2:hover{
        border: 1px solid rgb(127,42,218);
    }
    #html2:hover{
        border: 1px solid rgb(127,42,218);
    }
    #css2:hover{
        border: 1px solid rgb(127,42,218);
    }
    #js2:hover{
        border: 1px solid rgb(127,42,218);
    }
    #tail2:hover{
        border: 1px solid rgb(127,42,218);
    }
    #boots2:hover{
        border: 1px solid rgb(127,42,218);
    }
    #github2:hover{
        border: 1px solid rgb(127,42,218);
    }
    #git2:hover{
        border: 1px solid rgb(127,42,218);
    }
    
    #insta1{
        margin-left: 10px;
        margin-top: 270px;
    }
    
    #insta1:hover{
        border: 1px solid rgb(127,42,218);
    }
    
    #github1{
        margin-left: 90px;
        margin-top: 270px;
    }
    
    #github1:hover{
        border: 1px solid rgb(127,42,218);
    }
    
    #linkedin1{
        margin-left: 170px;
        margin-top: 270px;
    }
    
    #linkedin1:hover{
        border: 1px solid rgb(127,42,218);
    }
    
    #email1{
        margin-left: 250px;
        margin-top: 270px;
    }
    
    #email1:hover{
        border: 1px solid rgb(127,42,218);
    }
    
    #ttk1{
        margin-left: 330px;
        margin-top: 270px;
    }
    
    #ttk1:hover{
        border: 1px solid rgb(127,42,218);
    }
    
    #react2{
        width: 80px;
        margin-top: 250px;
        margin-left: 310px;
    }
    
    #boots2{
        width: 80px;
        margin-top: 250px;
        margin-left: 210px;
    }
    
    #tail2{
        width: 80px;
        margin-top: 250px;
        margin-left: 110px;
    }
    
    #git2{
        width: 80px;
        margin-top: 250px;
        margin-left: 10px;
    }
    
    #github2{
        width: 80px;
        margin-top: 150px;
        margin-left: 310px;
    }
    
    #js2{
        width: 80px;
        margin-top: 150px;
        margin-left: 210px;
    }
    
    #css2{
        width: 80px;
        margin-top: 150px;
        margin-left: 110px;
    }
    
    #html2{
        width: 80px;
        margin-top: 150px;
        margin-left: 10px;
    }
    
    .construcao{
        margin-left: 50px;  
        margin-top: 40px;
        width: 210px;
        font-family:sans-serif;
    }
    .pconstrucao{
        color: rgb(182, 182, 182);
        font-family: sans-serif;
        margin-top: 80px;
        margin-left: 40px;
        margin-right: 10px;
        font-size: 18px;
    }
    
    #textohtml{
        display: none; 
        color: rgb(179, 179, 179);
    }
    
    #textocss{
        display: none;
        color: rgb(179, 179, 179);
    }
    #textojs{
        display: none;
        color: rgb(179, 179, 179);
    }
    #textotail{
        display: none;
        color: rgb(179, 179, 179);
    }
    #textoboots{
        display: none;
        color: rgb(179, 179, 179);
    }
    #textogit{
        display: none;
        color: rgb(179, 179, 179);
    }
    #textogithub{
        display: none;
        color: rgb(179, 179, 179);
    }
    #textoreact{
        display: none;
        color: rgb(179, 179, 179);
    }
    
    #tudo{
        color: rgb(179, 179, 179);
    }
    
    .conheci:hover{
        border: 1px solid rgb(127, 42, 218);
    }
    
    #main3 {
        width: 400px;
        height: 1400px;
        position: absolute;
        margin-top: 1200px;
        margin-left: 50%;
        transform: translate(-50%);
    }
}   